<div class="animate__animated animate__fadeIn animated__faster">

  <h2>Searching by capital city</h2>
  <hr>
  <div class="row">
    <div class="col">
      <app-country-search-input
      (OnEnter)="search($event)"
      placeholder="Search by Capital City"

      >
    </app-country-search-input>
    </div>
  </div>

  <div *ngIf="noFoundError" class="alert-danger">
    <h6 class="t"><strong>
      Sorry so much, We haven't could found anything about this "{{ searchingByCapitalCity }}"
    </strong></h6>
  </div>

  <div *ngIf="countries.length>0" class="row">
    <hr>
    <div class="col">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>

</div>
