<h2>Searching by country</h2>
<hr>
<div class="row">
  <div class="col">
    <form (ngSubmit)="search()">
      <input
        autocomplete="off"
        class="input-group"

        type="text"
        name="searchingValue"
        placeholder="Search by country ..."

        [(ngModel)]="searchingByCountryName"
       >

    </form>
  </div>
</div>
<hr>
<div class="alert-danger">
  <h6 class="t"><strong>
    Sorry so much, We haven't could found anything about this "ABSMSMSMS"
  </strong></h6>
</div>
<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Flag</th>
          <th>Name</th>
          <th>Population</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
