<h2>Searching by country</h2>
<hr>
<div class="row">
  <div class="col">
    <app-country-search-input
    (OnEnter)="search($event)"
    placeholder="Search by Country"
    >
    </app-country-search-input>
  </div>
</div>
<hr>

<div *ngIf="noFoundError" class="alert-danger">
  <h6 class="t"><strong>
    Sorry so much, We haven't could found anything about this "{{ searchingByCountryName }}"
  </strong></h6>
</div>

<div class="row">
  <div class="col">
    <app-country-table
    [countries]="countries"
    ></app-country-table>
  </div>
</div>
